  
  <div class="mt-5">
    <div class="row">
    
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Rechercher par nom" [(ngModel)]="searchText" (input)="search()">
        <button class="btn btn-outline-secondary" type="button" (click)="search()">Rechercher</button>
    </div>
      <div class="col-md-4">
        <form [formGroup]="myForm" (ngSubmit)="enregistrer()">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nom du département</label>
            <input type="text" class="form-control" formControlName="name">
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">
            {{ isCreationMode ? 'Enregistrer' : 'Modifier' }}
          </button>
        </form>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nom</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let departement of departements">
              <th scope="row">{{departement._id}}</th>
              <td>{{departement.name}}</td>
              <td class="d-flex">
                <button class="btn btn-sm btn-warning mr-2" (click)="modifierDepartement(departement)">Modifier</button>
                <button class="btn btn-sm btn-danger" (click)="supprimerDepartement(departement._id)">Supprimer</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  